---
// src/components/Footer.astro

import { siteConfig } from '@/config/site';

const { copyright } = siteConfig;
---

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p class="footer-text" data-de={`© ${copyright.year} ${copyright.holder}. ${copyright.tagline.de}`} data-en={`© ${copyright.year} ${copyright.holder}. ${copyright.tagline.en}`}>
                © {copyright.year} {copyright.holder}. {copyright.tagline.de}
            </p>
            <div class="footer-links">
                <a href="/blog" class="footer-link">Blog</a>
                <a href="/impressum" class="footer-link" data-de="Impressum" data-en="Imprint">Impressum</a>
                <a href="/datenschutz" class="footer-link" data-de="Datenschutz" data-en="Privacy">Datenschutz</a>
            </div>
        </div>
    </div>
</footer>
